# ==========================================
# Java / Maven / Spring Boot (Backend)
# ==========================================
**/target/
!**/src/main/**/target/
!**/src/test/**/target/
backend/**/.mvn/
!.mvn/wrapper/maven-wrapper.jar
backend/**/*.class
backend/**/*.jar
backend/**/*.war
backend/*.log
HELP.md

# Archivos de configuración de Eclipse / STS / NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ==========================================
# Python / Data Science (Carpeta data-scientist)
# ==========================================
data-scientist/**/venv/
data-scientist/**/.venv/
data-scientist/**/__pycache__/
data-scientist/**/*.pyc
data-scientist/**/.ipynb_checkpoints/
*.joblib
*.pickle

# ==========================================
# Frontend / Node (Carpeta frontend)
# ==========================================
frontend/**/node_modules/
frontend/**/dist/
frontend/**/.env
frontend/**/.env.local
frontend/**/.env.development.local
frontend/**/.env.test.local
frontend/**/.env.production.local

# ==========================================
# IDEs, Sistema y Archivos Locales (Global)
# ==========================================
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
Thumbs.db
.DS_Store
.env